# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files (optional)
*.csv
*.tsv
*.data
*.dat
*.h5
*.pkl
*.joblib

# Logs and cache
*.log
*.out
*.err
*.bak
*.swp
.cache/
*.tmp

# OS files
.DS_Store
Thumbs.db

# Jupyter runtime files
.jupyter/
